*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
    background: #3B4346 url(../../images/bg04.jpg);
    color: #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    
}

#cabeca{
    width: 100%;
    background: #3B4346 url(../../images/bg01.jpg);
    text-align: center;
    padding-bottom: 20px;
}
.logo_img{
    margin-top: 10px;
    width:40px;
}
.line1{
    width: 80%;
    height: 3px;
    background-color: #F56A6A;
    margin: auto;
}


/* btn basico */

.btn{
    background-color: #F56A6A;
    padding: 8px;
    font-weight: bold;
    border-radius: 0.375em;
    width:90px;
    border: 1px solid #F56A6A;
    color: #fff;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
}
.compra_venda > h3{
    padding-top: 30px;
    padding-bottom: 10px;
    min-width: 310px;
}

.select{
    padding: 5px;
    border-radius: 10px;
    border: 0;
    outline: none;
    background-color:#5b6074 ;
    color: #fff;
    font-weight: bold;
}
.valor-box{
    background-color:#5b6074 ;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100px;
    display: block;
    margin: auto;
}
.select::placeholder,.select:disabled{
    color: white;
}
.options{
    font-weight: bold;

}


#main{
    text-align: center;
   position: absolute;
   left: 50%;
   transform: translate(-50%,0);
}
.line{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 30px 0 30px 0;
}
#conteudo > p{
    margin-top:10px;
}



/* sidebar */
/* MENUUUUUU */

#sidebar{
    position: fixed;
    height: 100%;
    top:0;
    left:-215px;
    transition: 0.5s;
    padding: 30px 0px 0 0px;
    background-color: #303539;
    border-radius:0 10px 10px 0;
    border-right:2px  solid #797979;
    z-index: 999;
}
.icon{
    position: absolute;
    right: -60px;
    top:30px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    background-color:#F56A6A;
    padding: 7px 10px;
    border-radius: 8px;
}
.major{
    padding-left: 30px;
}
.lista{
    text-decoration: none;
    list-style: none; 
    margin-top: 20px;  
}
.f-item{
    border-top: 1px solid #ccc;
}
.lista  li{
    border-bottom: 1px solid #ccc;
    padding: 10px 30px;
}
.lista li:hover{
    background-color: #fff;
}
.lista a:hover{
    cursor: pointer;
    color: #000;
    
}
.lista > a{
    text-decoration: none;
    color: white;   
    font-weight: bold;
}
.lista > a:hover{
    text-decoration: underline;
}

/* FIM MENUUU */

/* Footer */
footer{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;  
    text-align: center;
}